.userList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding: 0;
}

.userCard {
    display: flex;
    align-items: center;
    width: calc(50% - 10px);
    max-width: 500px;
    padding: 15px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,.15);
}

.avatar {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-right: 15px;
}

.info {
  display: flex;
  flex-direction: column;
}

.info h3 {
  margin: 0;
  font-size: 18px;
}

.info p {
  margin: 4px 0;
  color: gray;
}

.info span {
  color: #777;
}